@mixin Btn {
  display: block;
  height: 80px;
  width :360px;
  margin:0 auto 50px;
  border-radius: 10px;
  font-size:20px;
  color:#fff;
  text-decoration: none;
  text-align: center;
  line-height: 80px;
}

@mixin Box {
  height: 100px;
  width: 100px;
  background: skyblue;
  cursor: pointer;
  transition: 0.6s;
}