// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "posts-mixin";

.Header {
  height: 90px;
  border-bottom:20px solid #ffa500;
  background-color: #ff8c00;
  color: #ffffff;
  &__logo {
    text-align: center;
    font-size: 36px;
    line-height: 90px;
  }
}

.Contents {
  height: calc(100vh - 90px - 20px - 100px);
  width:900px;
  margin: 0 auto;
  background-color: #fffacd;
  &__Message{
    padding: 40px;
    color:#ffa500;
    font-size:30px;
    text-align: center;
  }
  &__Btn{
    @include Btn;
    &--Icon{
      padding-right:20px;
    }
    &--Facebook{
      background-color: #4169e1;
    }
    &--Twitter{
      background-color: #00bfff;
    }
    &--Instagram{
      background-color: #fc76bf;
    }
  }
}

.Contents__JSBoxes {
  height: 100px;
  width:900px;
  margin: 0 auto;
  background-color: #ddd;
  display: flex;
  justify-content: space-evenly;
  .Box {
    @include Box;
  }
}
